:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --iris_2: #404bbf;
  --light-slate: #8e8f99;
  --light: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: var(--slate);
  margin: 0 auto;
  width: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
img {
  display: block;
}
.container {
  min-width: 320px;
  width: 320px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.header {
  background: #fff;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
#h-container {
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--iris);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  line-height: 1.17;
  margin-right: 76px;
  padding: 14px 0;
}
.logo-second {
  color: var(--navyblue);
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item,
.nav-list-item:visited {
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
}

.nav-list-item:hover,
.nav-list-item:active,
.nav-list-item:focus {
  color: var(--iris_2);
}

.nav-list > li:first-child a {
  position: relative;
  color: var(--iris_2);
}
a.nav-list-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list > li:first-child a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--iris_2);
  border-radius: 2px;
  display: block;
  width: 100%;
}

.adress {
  font-style: normal;
}
.adress-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 12px;
}
.adress-item .adress-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  display: block;
}

.adress-item .adress-link:hover,
.adress-item .adress-link:active,
.adress-item .adress-link:focus {
  color: var(--iris_2);
}
.adress-list > li:first-child a,
.adress-list > li:last-child a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  fill: var(--navyblue);
  display: none;
}

.main {
  margin-left: auto;
  margin-right: auto;
}
/* section_01  */
.section {
  padding: 96px 0;
  margin-right: auto;
  margin-left: auto;
}
#s-first-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.section-first {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office_mobile.jpg);

  flex-shrink: 0;
  padding: 72px 0;
  max-width: 768px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* /////////////  media for bg img //////////////////////*/
@media screen and (min-resolution: 192dpi) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_tab@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_desk.jpg);
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people_office_desk@2x.jpg);
  }
}
/* ////////////////////////////////////////////////// */

.section-first .main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  line-height: 1.07;
  max-width: 496px;
}
.section-first .btn-order {
  background-color: var(--iris);
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-first .btn-order:hover,
.section-first .btn-order:focus {
  background-color: var(--iris_2);
}

/* section_02  */

.section-second {
  background: #fff;
}
.section-third-con {
  flex-direction: column;
}
.section-second-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}
.section-second-list-item {
  font-style: normal;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);
  max-width: 264px;
}
.section-h-third {
  text-align: center;
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.section-list-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1.5;
}
.section-second-list-item-icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: var(--light);
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  margin-bottom: 8px;
}

/* section_03  */

.section-third {
  background: var(--light);
  text-align: center;
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}
.section-third .container {
  flex-direction: column;
}
.section-third-list {
  display: flex;
  gap: 72px;
  justify-content: center;
  flex-direction: column;
}
.section-third-list .section-h-third {
  text-align: center;
}
.section-third .list-item {
  background: #fff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}

.employee {
  padding: 32px 0;
}

.employee-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.employee-list > li {
  width: 40px;
  height: 40px;
}
a.employee-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.employee-link:hover,
a.employee-link:focus {
  background-color: #404bbf;
}
.emp-icon {
  fill: var(--light);
}
.employee .section-list-text {
  margin-bottom: 8px;
}
/* section_04  */
.section-fourth .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-fourth-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-fourth-list .list-item {
  flex-basis: calc((100% - 48px) / 3);
  max-width: 360px;
}
.section-fourth-list-photo {
  width: 100%;
}
.card-sect-four {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-sect-four .section-h-third {
  text-align: left;
  margin-bottom: 8px;
}
.section-fourth-list > .list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-fourth-list > .list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-item:hover .section-fourth-list-text {
  transform: translateY(0%);
}
.section-fourth-list-div-photo {
  position: relative;
  overflow: hidden;
}
.section-fourth-list-text {
  position: absolute;
  top: 0;
  color: var(--light);
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  background: var(--navyblue);
  padding: 100px 0;
}

.logo-second-two {
  color: var(--light);
}
.footer-text {
  color: var(--light);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.footer-text {
  max-width: 264px;
}
.description .logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 17.5px;
  padding: 0;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-list > li {
  width: 40px;
  height: 40px;
}
a.footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.footer-link:hover,
a.footer-link:focus {
  background-color: #31d0aa;
}
.ftr-icon {
  fill: var(--light);
}
.ftr-media {
  color: #fff;
  line-height: 1.5; /* 150% */
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  display: block;
}

.form-sub {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.sub-footer {
  display: flex;
  flex-direction: column;
}
.email-input-sub {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.email-input-sub::placeholder {
  color: #fff;
}
.sub-btn-sbmt {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  fill: #fff;
}
.sub-btn-icon {
  margin-left: 16px;
}

/* Form */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.input-div {
  margin-bottom: 8px;
}
.label-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.input-section {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navyblue);
}

.modal-input:focus + .icon-modal-input {
  fill: #4d5ae5;
}
.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
}
.input-div:nth-child(4) {
  margin-bottom: 16px;
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-div {
  margin-bottom: 24px;
}

input.checkbox:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  border-color: #404bbf;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

input:checked .checkbox-span {
  background-color: var(--iris_2);
  border: none;
  fill: var(--light);
}

.checkbox-link {
  color: var(--iris);
  text-decoration: underline;
}

.modal-btn {
  display: block;
  padding: 16px 32px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* menu */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  background-color: transparent;
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-link.current {
  color: var(--OCEAN, #404bbf);
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts-item:first-child {
  margin-bottom: 24px;
}
.mobile-contacts-link {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.mobile-contacts-link.current {
  color: var(--OCEAN, #404bbf);
}
.ft-menu {
  gap: 40px;
}

/* media  */

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section-h-third {
    text-align: left;
  }
  .section-first {
    max-width: 1158px;
    padding: 112px 0;
  }
  .section-second-list,
  .section-third-list,
  .section-fourth-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  .section-second-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-third-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .section-fourth-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .section-second-list-item,
  .section-third-list .list-item,
  .section-fourth-list .list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
    align-items: baseline;
  }
  .form-sub {
    flex-direction: row;
  }

  .description .logo,
  .ftr-media {
    text-align: left;
  }

  .modal {
    max-width: 408px;
  }
}
@media (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .section-first {
    max-width: 1440px;
    padding: 188px 0;
  }
  .section {
    padding: 120px 0;
  }
  .adress-list {
    flex-direction: row;
    gap: 40px;
  }

  .adress-item .adress-link {
    font-size: 16px;
  }

  .section-second-list-item-icon {
    opacity: 1;
    visibility: visible;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: var(--light);
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    margin-bottom: 8px;
  }
  .section-second-list-item,
  .section-third-list .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-fourth-list .list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer .container {
    gap: 0;
  }
  .description {
    margin-right: 120px;
  }
  .sub-footer {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 767.98px) {
  .adress {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .header-menu-btn {
    display: inline;
  }
}
@media only screen and (max-width: 1158px) {
  .section-second-list-item .section-h-third {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .section-list-text {
    font-weight: 500;
  }
}
